body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7b936f;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(90deg, rgba(159, 186, 180, 1) 0%, rgba(17, 69, 13, 0.9304971988795518) 100%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #0c4b07;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}

.error-container {
    color: white;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(90deg, rgb(67, 3, 3) 0%, rgba(207, 26, 6, 0.93) 100%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    p,
    h1 {
        text-align: center;
        color: white;
    }


}
title{
    margin-top: 3rem;
}
table {
    border: solid black 2px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    padding: 20px;
    tr,th{
        padding: 1rem;
        background-color: rgb(238, 198, 222);
    }
}